@tailwind base;
@tailwind components;
@tailwind utilities;

/* In your CSS file, e.g., custom.css */
.blurBorder:hover {
  border-color: rgba(255, 0, 221, 0.5);
  -webkit-box-shadow: 0 0 0 4px rgba(234, 100, 217, 0.3);
  box-shadow: 0 0 0 4px rgba(234, 100, 217, 0.3);
}

.relative:hover .transition-transform {
  transform: translateY(-10px); /* Adjust the value as per your preference */
}

.lds-ripple,
.lds-ripple div {
  box-sizing: border-box;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}
